<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<body>
<h2>Employee List</h2>
<p>
    <a href="/employee/create">Create Employee</a>
</p>
<table border="1">
    <tr>
        <th>Name</th>
        <th>BirthDate</th>
        <th>Address</th>
        <th>salary</th>
        <th>Avatar</th>
        <th>Edit</th>
        <th>Delete</th>

    </tr>
    <th:block th:each="row : ${employees}">
        <tr>
            <td th:text="${row.getName()}"></td>
            <td th:text="${row.getBirthDate()}"></td>
            <td th:text="${row.getAddress()}"></td>
            <td th:text="${row.getSalary()}"></td>
            <td><img width="50px" height="80px" th:src="@{'/image/' + ${row.getAvatar()}}"></td>
            <td><a th:href="@{/employee/edit/__${row.getId()}__}">Edit</a></td>
            <td><a th:href="@{/employee/delete/__${row.getId()}__}">Delete</a></td>
        </tr>
    </th:block>

</table>
</body>
</html>